/**
* Project : simply-countdown
* File : simplyCountdown.theme.default
* Date : 27/06/2015
* Author : Vincent Loy <vincent.loy1@gmail.com>
*/

.simply-countdown {
  overflow: hidden;
  display: table;
  text-shadow: var(--shadow);
  font-family: "Work Sans", sans-serif;
  margin: auto;

  & > .simply-section {
    width: 30px;
    height: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-weight: bold;
    margin: 10px;
    background: rgba(60, 182, 244, 0.734);
    border-radius: 50%;
    color: rgb(255, 255, 255);

    .simply-amount,
    .simply-word {
      display: block;
      text-align: center;
      font-size: 1.2rem;
    }

  }
}
