:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
    max-width: 100%;
    overflow-x: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/zafa.jpg);
    background-size: cover;
    background-position: top;
    z-index: -1;
    filter: drop-shadow();
}

.hero {
    min-height: 700px;
    position: relative;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
    padding-bottom: 1rem;
}

.hero h1 {
    font-family: "Love Light", cursive;
    font-size: 4rem;
    font-weight: bolder;
}

.hero h4 {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    background-size: cover;
    box-shadow: var(--shadow);
    text-shadow: var(--bg);
    font-weight: 500;
    color: black;
    background-color: rgba(245, 245, 245, 0.73);
}

.hero a:hover {
    background-color: rgba(60, 182, 244, 0.734);
    box-shadow: var(--shadow);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: "Love Light", cursive;
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 0.2rem;  
}

.navbar-brand:hover {
    color: red;
}
.navbar-toggler:hover {
    color: red;
}
.audio-icon-wrapper:hover {
    color: yellow;
}

.mynavbar .offcanvas {
    height: 50vh;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home, .info, .story, .gallery, .rsvp, .gifts {
    background-image: url(img/sky.png);
    background-size: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.home h2, .info h2, .story h2, .gallery h2, .rsvp h2, .gifts h2 {
    font-family: "Love Light", cursive;
    font-size: 4.1rem;
    font-weight: bold;
    text-shadow: var(--shadow);
    padding-bottom: 1rem;
    letter-spacing: 0.5rem;
}

.home h3, .info .alamat, .rsvp p, .gifts p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
}


.home p, .info .description, .info .card-body, .info .card-footer, .gallery p, .story p {
    font-size: 1rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
}

.home .couple {
    margin-top: 50px;
}

.home .couple p {
    font-size: 0.9rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
    text-align: justify;
}

.home .couple p1, .home .couple p2 {
    font-family: "Love Light", cursive;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: var(--shadow);
}

.home .couple h3 {
    font-family: "Love Light", cursive;
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;
    text-shadow: var(--shadow);
    letter-spacing: 0.05rem; 
}

.home .couple img {
    width: 100%;
    box-shadow: var(--shadow);
    margin-top: 2rem;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px); 
}

.home .heart i {
    margin:auto;
    color: red;
}

.info .card {
    background-image: url(img/sky.png);
    background-size: cover;
    box-shadow: var(--shadow);
}

.info .card-header {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: "Love Light", cursive;
    text-shadow: var(--shadow);
    font-weight: bold;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #000;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before, .timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 190px;
    height: 190px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 38%;
    float: left;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
    }
    
    .timeline li.timeline-inverted .timeline-panel {
        float: right;
    }
    
.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
    
.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
    }  

.timeline h3 {
    font-family: "Love Light", cursive;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.story span, .gallery span, .gifts span {
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.timeline span {
    font-size: 0.9rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
    text-align: justify;
}

.timeline p {
    font-size: 0.9rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
    text-align: justify;
}

.rsvp form label {
    font-size: 1rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
    padding-top: 1.5rem;
}

.rsvp button {
    background-color: white;
    color: black;
}

.rsvp button:hover {
    background-color: rgba(60, 182, 244, 0.734);
    border: 1px solid rgb(37, 53, 225);
    color: rgb(255, 255, 255);
}

.gifts li {
    background-image: url(img/sky.png);
    background-position: center;
    font-size: 1.2rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
    box-shadow: var(--shadow);
}

footer {
    padding: 1rem;
    background-color: whitesmoke;
    font-size: 1.2rem;
    text-shadow: var(--shadow);
    font-family: "Work Sans", sans-serif;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

footer a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: red;
}

.audio-icon-wrapper {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    position: fixed;
    bottom: 2.5rem;
    right: 3.5rem;
    cursor: pointer;
    color: red;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px); 
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;

        .simply-countdown { & > .simply-section {
           padding: 40px;
           margin: 7px;}
        }
    }
    .home .heart {
       display: none; 
    }

    .timeline::before {
        left: 50px;
        transform: translateX(10px);
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        width: 150px;
        height: 150px;
    }

    .timeline li .timeline-panel {
        width: calc((100% - 200px));
        float: right;
        position: relative;
        transform: translateX(-15px);
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 50px;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
        top: 51px;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;

        .simply-countdown { & > .simply-section {
            padding: 30px; 
            margin: 5px;}
         }

         .mynavbar .nav-link {
            font-size: 2rem;
            text-align: center;
        }
        
    }

    .timeline li .timeline-image {
        width: 125px;
        height: 125px;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 50%;

        .simply-countdown { & > .simply-section {
            padding: 20px; 
            margin: 3px;}
         }
    }

     .timeline li .timeline-image {
            width: 100px;
            height: 100px;
            left: 35px;
        }

        .timeline li .timeline-panel {
            transform: translateX(-30px);
        }  

        .timeline::before {
           transform: translateX(30px);
        }

        .timeline li .timeline-panel::before {
            top: 30px;
        }

        .timeline li .timeline-panel::after {
            top: 31px;
        }
        
}